mat-card{
    display: flex;
    align-items: center;
    background-color: rgb(193, 180, 196);
    margin-top: 5%;
    margin-right: 30%;
    margin-left: 30%;
    box-shadow: 3px 5px 11px 4px rgba(102, 102, 102, 0.35);
}

mat-card-header{
    border-bottom: solid 1px black;
}

div{
    padding: 10px;
    text-align: center;
}

button{
    margin: 20px;
    padding: 5px;
}